
VERSION_INFO_BUILDER = Jean-Daniel Dupas

// ======================== Shadow Lab Build Settings ========================
// Additional header and libraries
ADDITIONAL_SDKS = $(SHARED_SOURCES_DIR)/sdk/MacOSX10.5.sdk

// Store all temporary files in one place.
OBJROOT = $(SHADOWLAB_ROOT)/Builds/Intermediate
SHARED_PRECOMPS_DIR = $(OBJROOT)/SharedPrecompiledHeaders

// ======================== SArchiveKit Build Settings ========================

